/* assets/styles.css */
.gradient-text {
    background: linear-gradient(45deg, #FD2D00, #DF007C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 60px;
    padding-top: 4%;
}

body {
    background: radial-gradient(circle, #1D1B26, #06191D);
}

/* assets/styles.css */
.plotly .modebar {
    position: absolute !important;
    top: 205% !important; /* เปลี่ยน top ตามต้องการ */
    transform: translateY(10%) !important;
}



